.react-tabs__tab {
    padding: 6px 21px;
}

.react-tabs__tab--selected {
    background: #F7A582;
    margin-top: -1px;    
    border: none;
    color: black;
    padding: 12px 30px;
    border-radius: 5px 5px 5px 5px;
}
.react-tabs__tab-list {
    border: none ;
    border-radius: 5px;
    /* margin: 0 0 10px; */
    /* margin-top: 1px; */
    padding: 0;
    font-size: 18px;
    font-weight: 700;
}
