.doctor-details .react-tabs__tab {
    border-bottom: 2px solid #aaa;
    padding: 12px 99px;
    bottom: 0;
}

.doctor-details .react-tabs__tab--selected {
    background: #F7A582;
    margin-top: -1px;
    border: 0px solid #aaa;
    color: black;
    padding: 12px 99px;
    border-radius: 5px 5px 0px 0px;
}